/*
 * Styles elements in calculator.html
 * 
 * Author:	Maxwell L-T
 * Date:	2019-12-10
 */

@font-face {
	font-family: 'sa-digital-number';
	src: url('https://s-a.github.io/digital-numbers-font/demo/fonts/sa-digital-number.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

#calculator-display {
	font-family: 'sa-digital-number';
	font-size: 30pt;
	border: 1px solid black;
	overflow: auto;
}

.calculator-buttons td {
	width: 1.2em;
	height: 1.2em;
	font-weight: bold;
	text-align: center;
}